@{
    Layout = "_UserLayout";
}
@model CMS.Models.TblOrder
<div id="breadcrumb">
    <div class="container">
        <ul>
            <li><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li><a asp-action="ProductsPage" asp-controller="Home" asp-route-category="All">Products</a></li>
            <li>Cart</li>
        </ul>
    </div>
</div>
<div class="container mt-5">

    @if (ViewBag.Items == null)
    {
        <h1>No item Added</h1>
    }else{
    <form method="post">
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
        </tr>
    </thead>
    <tbody>
                    @{
                        // Initialize total quantity variable
                        int totalQuantity = 0;
                    }

    @foreach (var item in ViewBag.Items)
    {
        
             totalQuantity += item.Quantity * item.Price;
        
        <tr>
            <th scope="row">@item.Id</th>
            <td>@item.Name</td>
            <td>@item.Description</td>
                
            <td>@item.Price</td>
                    <td>@item.Quantity</td>
                            
        </tr>
    }
    </tbody>
</table>
<div class="container">
    <div class="row">
        <div class="col-6">
            <lable>Enter Full Address</lable>
            <input type="text" asp-for="Address" class="form-control" />
        </div>
                    <div class="col-6">
                        <lable>Price</lable>

                        <input class="form-control" type="hidden" asp-for="Date" id="e">
                        <input class="form-control" type="hidden" asp-for="UId" value="@TempData["id"]">
                        <input class="form-control" type="hidden"  asp-for="TotalPurchase" value="@totalQuantity">
                        <input class="form-control" type="text" disabled  value="@totalQuantity">


                    </div>
    </div>
    <input type="submit" class="btn btn-primary mt-3" asp-controller="Home" asp-action="Checkout" />

</div>



            </form>
            }
</div>

<script>
    document.getElementById('e').value = new Date().toISOString().substring(0, 10);
</script>